doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="css/index.css")
    body 
        header 
            nav 
                ul.flex 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/admin/add-product") Add product 
        h1.title Shop from node pug js
        h2 List of all products

        main 
            if products.length >0
                ul 
                    each product in products
                        li #{product.name}
            else 
                h3 No products