doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="css/index.css")
        block styles
    body 
        header 
            nav 
                ul.flex 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/admin/add-product") Add pug product 
        block content