<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Main layout</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="flex">
          <li><a href="/">Home</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>